@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap');

.App {
  margin-bottom: 20px;
}

.App input {
  display: block;
  font-size: 20px;
  margin: 20px auto;
  padding: 5px;
}

h1 {
  color: #90cece;
  font-family: 'Cormorant Unicase', serif;
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}