body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background-color: rgb(23, 212, 196);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: black;
} */